.section--app {
  position: fixed;
  width: 100%;
  min-width: 900px;
  height: 100%;
  padding-block: 86px;
  padding-inline: 46px;
  margin: 0;
}
.section--app-page {
  position: fixed;
  padding-block: 86px;
  padding-inline: 46px;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  gap: 50px;
  align-content: center;
  min-width: 900px;
  margin-block: auto;
}
.content--middle img {
  z-index: 10;
  display: block;
  width: 80%;
  margin-inline: auto;
}
.content--middle-page {
  height: 16.35%;
  margin-block: 4.2%;
  overflow: scroll;
  white-space: nowrap;
  background-color: aqua;
  border-radius: 26px;
  scrollbar-width: none;
}
.content--middle-page img {
  display: block;
  width: 72%;
}
.content--middle-page-box {
  width: 90%;
  background-color: #bbb5a7;
}
.content--right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.content--right-top, .content--right-bottom {
  position: absolute;
  gap: 20px;
}
.content--right-top {
  top: 0;
}
.content--right-bottom {
  bottom: 0;
}
.content--right-group {
  display: flex;
  flex-direction: row;
}
.content--right-title {
  width: 115px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 400;
}
.content--right-title-project {
  padding-bottom: 20px;
}
.content--right-p {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #656565;
}
.content--left {
  position: relative;
}
.content--left-title {
  position: sticky;
  top: 86px;
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  color: #bbb5a7;
}