@import "https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap";

@font-face {
  font-family: Pretendard-Regular;
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

:root {
  --color-black1: #000;
  --color-black2: #303132;
  --color-navy1: #131a36;
  --color-navy2: #061727;
  --color-blue: #345aa5;
  --color-pupple: #ede6ff;
  --color-white1: #fff;
  --color-white2: #f5f5f5;
  --color-red1: #fe312e;
  --color-red2: #d26056;
  --color-orange1: #fb5b3f;
  --color-orange2: #f58220;
  --color-pink: #ff0558;
  --color-yellow1: #fdfea9;
  --color-yellow2: #f6d99e;
  --color-yellow3: #d7b669;
  --color-begie1: #f4f0ed;
  --color-begie2: #e4ddcf;
  --color-begie3: #d7aa77;
  --color-begie3: #d7aa77;
  --color-mint: #39fff3;
  --color-green: #2f3a2c;
  --color-brown: #372b26;
  --fixed-m: 36px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Archivo, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-black2);
  background-color: var(--color-begie2);
}

.fixed {
  position: fixed;
  z-index: 10;
  color: var(--color-black2);
  text-decoration: none;

  &--pos {
    &-tl {
      top: var(--fixed-m);
      left: var(--fixed-m);
      display: block;
      padding: 10px;
      font-weight: 800;
    }

    &-tr {
      top: var(--fixed-m);
      right: var(--fixed-m);
      display: block;
      padding: 10px;
    }

    &-bl {
      bottom: var(--fixed-m);
      left: var(--fixed-m);
      display: block;
      padding: 10px;
    }

    &-br {
      right: var(--fixed-m);
      bottom: var(--fixed-m);
      display: block;
      padding: 10px;
    }
  }
}

.section {
  &--home {
    position: fixed;

    // display: inline-flex;
    // gap: 190px;
    align-items: flex-start;
    width: 100%;
    min-width: 900px;
    height: 100%;
    padding-inline: 250px;
    margin-block: auto;
    margin-inline: 0;
    overflow: hidden;
    scrollbar-width: none;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.container {
  display: inline-flex;
  gap: 50px;
  align-items: center;
  height: 100%;

  // width: 100%;
  padding-right: 190px;
}

.v-line {
  border-left: 1px solid var(--color-black2);
}

.cartagorie {
  position: relative;
  margin-block: 100%;

  &--title {
    display: flex;
    justify-content: center;
    width: 32px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    transform: rotate(90deg);
  }

  &--list {
    display: flex;
  }

  &--content {
    width: 75px;

    &-title {
      top: 182px;
      right: 122px;
      width: 372.267px;
      height: 24.265px;
      margin: 0;
      transform: rotate(90deg);
    }

    &-logo {
      padding-top: 406px;
      margin: 0;
      text-align: center;
    }

    &-number {
      padding-block: 30px;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    &--mu {
      color: var(--color-black1);
      background-color: var(--color-orange1);
    }

    &--w {
      color: var(--color-pink);
      background-color: var(--color-black1);
    }

    &--d {
      color: var(--color-pupple);
      background-color: var(--color-navy1);
    }

    &--p {
      color: var(--color-white1);
      background-color: var(--color-red1);
    }

    &--mi {
      color: var(--color-orange2);
      background-color: var(--color-white2);
    }

    &--fl {
      color: var(--color-red2);
      background-color: var(--color-begie1);
    }

    &--t {
      color: var(--color-begie3);
      background-color: var(--color-brown);
    }

    &--sw {
      color: var(--color-white1);
      background-color: var(--color-black1);
    }

    &--sk {
      color: var(--color-yellow1);
      background-color: var(--color-blue);
    }

    &--n {
      color: var(--color-mint);
      background-color: var(--color-black1);
    }

    &--fo {
      color: var(--color-yellow2);
      background-color: var(--color-green);
    }

    &--i {
      color: var(--color-black2);
      background-color: var(--color-yellow3);
    }
  }
}
