@import "https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap";
@font-face {
  font-family: Pretendard-Regular;
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
:root {
  --color-black1: #000;
  --color-black2: #303132;
  --color-navy1: #131a36;
  --color-navy2: #061727;
  --color-blue: #345aa5;
  --color-pupple: #ede6ff;
  --color-white1: #fff;
  --color-white2: #f5f5f5;
  --color-red1: #fe312e;
  --color-red2: #d26056;
  --color-orange1: #fb5b3f;
  --color-orange2: #f58220;
  --color-pink: #ff0558;
  --color-yellow1: #fdfea9;
  --color-yellow2: #f6d99e;
  --color-yellow3: #d7b669;
  --color-begie1: #f4f0ed;
  --color-begie2: #e4ddcf;
  --color-begie3: #d7aa77;
  --color-begie3: #d7aa77;
  --color-mint: #39fff3;
  --color-green: #2f3a2c;
  --color-brown: #372b26;
  --fixed-m: 36px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 500px;
  margin: 0;
  font-family: Archivo, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-black2);
  background-color: var(--color-begie2);
}
@media screen and (width <= 900px) {
  body {
    font-size: 16px;
  }
}

.invisible {
  display: none;
}

.fixed {
  position: fixed;
  z-index: 10;
  color: var(--color-black2);
  text-decoration: none;
}
.fixed--pos-tl {
  top: var(--fixed-m);
  left: var(--fixed-m);
  display: block;
  padding: 10px;
  font-weight: 800;
}
.fixed--pos-tr {
  top: var(--fixed-m);
  right: var(--fixed-m);
  display: block;
  padding: 10px;
}
.fixed--pos-bl {
  bottom: var(--fixed-m);
  left: var(--fixed-m);
  display: block;
  padding: 10px;
}
.fixed--pos-br {
  right: var(--fixed-m);
  bottom: var(--fixed-m);
  display: block;
  padding: 10px;
}

.section--home {
  position: fixed;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-inline: 250px;
  margin-block: auto;
  margin-inline: 0;
  overflow: hidden;
  scrollbar-width: none;
  overflow-x: scroll;
  white-space: nowrap;
}

.container {
  display: inline-flex;
  gap: 50px;
  align-items: center;
  height: 100%;
  padding-right: 190px;
}

.v-line {
  border-left: 1px solid var(--color-black2);
}

.cartagorie {
  position: relative;
  margin-block: 100%;
}
.cartagorie--title {
  display: flex;
  justify-content: center;
  width: 32px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  transform: rotate(90deg);
}
.cartagorie--list {
  display: flex;
}
.cartagorie--content {
  width: 75px;
}
.cartagorie--content-title {
  top: 182px;
  right: 122px;
  width: 372.267px;
  height: 24.265px;
  margin: 0;
  transform: rotate(90deg);
}
.cartagorie--content-logo {
  padding-top: 406px;
  margin: 0;
  text-align: center;
}
.cartagorie--content-number {
  padding-block: 30px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cartagorie--content--mu {
  color: var(--color-black1);
  background-color: var(--color-orange1);
}
.cartagorie--content--w {
  color: var(--color-pink);
  background-color: var(--color-black1);
}
.cartagorie--content--d {
  color: var(--color-pupple);
  background-color: var(--color-navy1);
}
.cartagorie--content--p {
  color: var(--color-white1);
  background-color: var(--color-red1);
}
.cartagorie--content--mi {
  color: var(--color-orange2);
  background-color: var(--color-white2);
}
.cartagorie--content--fl {
  color: var(--color-red2);
  background-color: var(--color-begie1);
}
.cartagorie--content--t {
  color: var(--color-begie3);
  background-color: var(--color-brown);
}
.cartagorie--content--sw {
  color: var(--color-white1);
  background-color: var(--color-black1);
}
.cartagorie--content--sk {
  color: var(--color-yellow1);
  background-color: var(--color-blue);
}
.cartagorie--content--n {
  color: var(--color-mint);
  background-color: var(--color-black1);
}
.cartagorie--content--fo {
  color: var(--color-yellow2);
  background-color: var(--color-green);
}
.cartagorie--content--i {
  color: var(--color-black2);
  background-color: var(--color-yellow3);
}