body {
  // min-width: 460px;
}

.mu {
  &-point {
    color: #fb5b3f;
  }
}

.w {
  color: #656565;
  background-color: #000;

  &-point {
    color: #ff0558;
  }
}

.d {
  color: #3b2f5b;
  background-color: #f5f4f9;

  &-point {
    color: #8e5cff;
  }
}

.mi {
  // background-color: #f5f5f5;

  &-point {
    color: #f58220;
  }
}

.p {
  &-point {
    color: #fe312e;
  }
}

.fixed {
  z-index: 20;
}

.section {
  position: fixed;
  width: 100%;

  // min-width: 460px;
  height: 100%;
  padding-block: 86px;
  padding-inline: 46px;
  margin: 0;

  &--mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &-pc {
      > img {
        width: 779px;
        height: 535px;
        @media screen and (width <= 900px) {
          width: 365px;
          height: 251px;
          margin-block: auto;
        }
      }
    }
  }

  &--info {
    @media screen and (width <= 900px) {
      display: none;
    }
  }

  &--list {
    bottom: 86px;
    display: flex;
    flex-direction: column;

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-decoration: none;
    }

    @media screen and (width <= 900px) {
      display: none;
    }
  }

  &--bg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pretendard;
    font-size: 260px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2.6px;

    &-mu {
      @media screen and (width <= 900px) {
        font-size: 180px;
      }
    }

    &-w {
      font-size: 180px;

      @media screen and (width <= 900px) {
        font-size: 130px;
      }
    }

    &-d {
      @media screen and (width <= 900px) {
        letter-spacing: 40px;
      }
    }

    &-mi {
      font-size: 220px;
      @media screen and (width <= 900px) {
        font-size: 160px;
      }
    }

    @media screen and (width <= 500px) {
      display: none;
    }
  }

  &--page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &--notch {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 91.96px;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 460px;

  &-pc {
    padding-left: 680px;
    @media screen and (width <= 900px) {
      display: none;
    }
  }

  &-bottom {
    position: fixed;
    bottom: 84px;
  }

  &-group {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-block: 10px;
  }

  &-title {
    width: 115px;
    padding: 0;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 400;

    &-project {
      padding-bottom: 10px;
      font-weight: 700;
    }
  }

  &-p {
    min-width: 200px;
    max-width: 439px;
    padding: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    &-mu {
      color: #656565;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 510.967px;
  margin-block: 13.32px;
  overflow-y: scroll;
  white-space: nowrap;
  border-radius: 26px;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  &-pc {
    display: flex;
    flex-direction: column;
    width: 738.64px;
    min-width: 346.09px;
    height: 462.55px;
    margin-block: 29.69px;
    overflow-y: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;

    @media screen and (width <= 900px) {
      width: 346.09px;
      height: 217.01px;
      margin-block: 13.03px;
      margin-block: auto;
    }
  }

  img {
    width: 236.11px;
    height: 510.967px;
    opacity: 0;
    scroll-snap-align: start;
    transition: all 1.2s;
  }
}
